@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@1,300&family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --primary-color:#255a85;
    --secondary-color: #4983aa;
    --primary-font: font-family: 'Poppins', sans-serif;
    --secondary-font: font-family: 'Rubik', sans-serif;
}

body{
    background-color: var(--primary-color);
}

.header{
    background-color: var(--secondary-color);
    height: 9rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.bars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}


.cover{
    color: white;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}


nav ul{
    display: flex;
    justify-content: center;
    margin-left: 0.8rem;
}

nav ul li {
    list-style: none;
    margin-right: 1rem;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    position: relative;
}

nav ul li a::before{
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    height: 3px;
    width: 100%;
    transform: translate(-50%);
    background-color: var(--secondary-color);
    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;;
}

nav ul li a:hover:before{
    width: 100%;
}

nav ul li a:focus{
    background-color: var(--secondary-color);
    opacity: 0.2pz;
    border-radius: 20px;
}

nav ul li a:focus::before{
    width: 0%;
}

.search-button{
    display: flex;
    width: 200px;
    margin-left: 4.7rem;
    margin-bottom: 1.2rem;
}

.inputText{
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 2rem 0 0 2rem;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: var(--primary-color);
    box-shadow: inset 0 5px 10px var(--secondary-color);
}

.inputText::placeholder{
    color: white;
}

.search-button button{
    background-color: var(--secondary-color);
    box-shadow: inset 0 5px 10px var(--primary-color);
    padding: 0.2rem 0.5rem;
    border-radius: 0 2rem 2rem 0;
    color: white;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
}

.container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie{
    box-shadow: 0 5px 10px black;
    width: 250px;
    background-color: var(--secondary-color);
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.movie .poster{
    width: 100%;
    height: 250px;
}

.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.movie-details .box{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.movie-details .title{
    width: 160px;
    text-align: center;
    font-size: 1.2rem;
}

.movie-details .overview{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: var(--secondary-color);
    opacity: 0.9;
    color:rgb(29, 44, 70);
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateY(101%);
    font-size: 1.0rem;
    font-weight: bold;

}

.movie-details:hover .overview{
    transform: translateY(0%);
}

.rating{
    background-color: var(--primary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 5px 5px black;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.notfound{
    font-size: 40px;
    font-weight: bold;
}


@media screen and (max-width: 64rem) and (max-width: 38rem){

    .header{
        display: flex;
        flex-direction: column wrap;
        justify-content: space-between center;
        padding: 1.5rem;
    }

    .bars{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 2.8rem;
        gap: 2.5rem;
    }

    nav ul{
        display: flex;
        font-size: 1rem;
        justify-content: center;
        margin-left: 0.9rem;
    }

    .search-button{
        width: 200px;
        justify-self: center;
        justify-self: center;
    }
}